# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Jupyter
*.ipynb_checkpoints

# Power BI temporary/backup files
*.pbit
~$*

# Excel temporary files
~$*.xlsx
~$*.xls

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local datasets
data/*.csv
